main{
    .image{
        img{
            max-width:  100%;
            padding-top: 6.125rem;
           //padding-bottom: 50px;
        }
    }
    .textbox{
        text-align: center;

        .description{
            margin: 0px 1.5625rem;
            color: $darkgray;
            line-height: 1.5;
            margin-bottom: 95px;
        }
    }
}